*{
    font-family: "Times New Roman", Times, serif;
}
.card-title {
    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}
.rating-static {
    width: 60px;
    height: 16px;
    display: block;
    background: url('http://www.itsalif.info/blogfiles/rating/star-rating.png') 0 0 no-repeat;
    margin-left: 20px;
}

.rating-50 {
    background-position: 0 0;
}

.rating-40 {
    background-position: -12px 0;
}

.rating-30 {
    background-position: -24px 0;
}

.rating-20 {
    background-position: -36px 0;
}

.rating-10 {
    background-position: -48px 0;
}

.rating-0 {
    background-position: -60px 0;
}

.rating-1 {
    background-position: -48px -16px;
}

.rating-11 {
    background-position: -36px -16px;
}

.rating-21 {
    background-position: -24px -16px;
}

.rating-31 {
    background-position: -12px -16px;
}

.rating-41 {
    background-position: 0 -16px;
}

.rating-2 {
    background-position: -48px -16px;
}

.rating-12 {
    background-position: -36px -16px;
}

.rating-22 {
    background-position: -24px -16px;
}

.rating-32 {
    background-position: -12px -16px;
}

.rating-42 {
    background-position: 0 -16px;
}

.rating-3 {
    background-position: -48px -16px;
}

.rating-13 {
    background-position: -36px -16px;
}

.rating-23 {
    background-position: -24px -16px;
}

.rating-33 {
    background-position: -12px -16px;
}

.rating-43 {
    background-position: 0 -16px;
}

.rating-4 {
    background-position: -48px -16px;
}

.rating-14 {
    background-position: -36px -16px;
}

.rating-24 {
    background-position: -24px -16px;
}

.rating-34 {
    background-position: -12px -16px;
}

.rating-44 {
    background-position: 0 -16px;
}

.rating-5 {
    background-position: -48px -16px;
}

.rating-15 {
    background-position: -36px -16px;
}

.rating-25 {
    background-position: -24px -16px;
}

.rating-35 {
    background-position: -12px -16px;
}

.rating-45 {
    background-position: 0 -16px;
}

.rating-6 {
    background-position: -48px -16px;
}

.rating-16 {
    background-position: -36px -16px;
}

.rating-26 {
    background-position: -24px -16px;
}

.rating-36 {
    background-position: -12px -16px;
}

.rating-46 {
    background-position: 0 -16px;
}

.rating-7 {
    background-position: -48px -16px;
}

.rating-17 {
    background-position: -36px -16px;
}

.rating-27 {
    background-position: -24px -16px;
}

.rating-37 {
    background-position: -12px -16px;
}

.rating-47 {
    background-position: 0 -16px;
}

.rating-8 {
    background-position: -48px -16px;
}

.rating-18 {
    background-position: -36px -16px;
}

.rating-28 {
    background-position: -24px -16px;
}

.rating-38 {
    background-position: -12px -16px;
}

.rating-48 {
    background-position: 0 -16px;
}

.rating-9 {
    background-position: -48px -16px;
}

.rating-19 {
    background-position: -36px -16px;
}

.rating-29 {
    background-position: -24px -16px;
}

.rating-39 {
    background-position: -12px -16px;
}

.rating-49 {
    background-position: 0 -16px;


}

html {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h5 {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
    margin: 0;
    color:#999999;
}
h4 {
   
   color:#e83910;
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;

    margin-top: 15px;
    margin-left: 10px;
  
    
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 80%;
    height: 280px;
    margin-top: 20px;
    border-radius: 10px;
}

.card-title {
    font-size: 1.3em;
    font-weight: 700;
    line-height: 1.2857em;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    
    background-color: white;
}

.card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}

.profile {
    position: absolute;
    top: -12px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 50%;
}

.profile-avatar {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
}

.profile-inline ~ .card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}

.text-bold {
    font-weight: 700;
}

.meta {
    font-size: 1em;
    color: rgba(0, 0, 0, 0.685);
}
.profile_budget{
    padding-top:15px;
    color:#757575;
}

.meta h5 {
    text-decoration: none;
   
    font-weight:normal;
}
.card-footer .icon{
    padding:10px 10px;
}
.card-footer .icon a{
    color:#ef6645;
}
#sen-bar{
    text-align: center;
}

.navbar .dropdown-menu div[class*="col"] {
   
    margin-bottom:1rem;
 }
 
 .navbar .dropdown-menu {
   border:none;
   background-color:rgba(0, 0, 0, 0.733)!important;
  
 }
 
 /* breakpoint and up - mega dropdown styles */
 @media screen and (min-width: 992px) {
   
   /* remove the padding from the navbar so the dropdown hover state is not broken */
 .navbar {
   padding-top:0px;
   padding-bottom:0px;
   background-color: rgba(0,0,0,0.8);
   
 }
 
 /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
 .navbar .nav-item {
   padding:.5rem .5rem;
   margin:0 .25rem;
   cursor: pointer;
 }
 
 /* makes the dropdown full width  */
 .navbar .dropdown {position:static;}
 
 .navbar .dropdown-menu {
   width:100%;
   left:0;
   right:0;
 /*  height of nav-item  */
   top:55px;
   
   display:block;
   visibility: hidden;
   opacity: 0;
   transition: visibility 0s, opacity 0.3s linear;
   
 }
   
  
 
   
   /* shows the dropdown menu on hover */
 .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
   display:block;
   visibility: visible;
   opacity: 1;
   transition: visibility 0s, opacity 0.3s linear;

 }
   
   .navbar .dropdown-menu {
     border: 1px solid rgba(0,0,0,.15);
     background-color: #fff;
   }
   .dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{background-color: rgba(58, 55, 55, 0.815)!important;}
}

.type{
    color: #ef6645;
    margin-left: 170px;
}
.searchbar{
    
  
    height: 40px;
    background-color: #1b1a1a;
    border-radius: 20px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    line-height: 20px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 20px;
    width: 20px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    }


    .rating1 {
        
     
        font-size: 20px;
        overflow:hidden;
    }
.rating1 input {
float: right;
opacity: 0;
position: absolute;
}
    .rating1 a,
.rating1 label {
        float:right;
        color: rgb(119, 118, 118);
        text-decoration: none;
        -webkit-transition: color .4s;
        -moz-transition: color .4s;
        -o-transition: color .4s;
        transition: color .4s;
    }
.rating1 label:hover ~ label,
.rating1 input:focus ~ label,
.rating1 label:hover,
    .rating1 a:hover,
    .rating1 a:hover ~ a,
    .rating1 a:focus,
    .rating1 a:focus ~ a		{
        color: rgb(249, 250, 250);
        cursor: pointer;
    }
    .rating2 {
        direction: rtl;
    }
    .rating2 a {
        float:none
    }

    .card:hover {
        cursor:pointer;
         /* -webkit-box-shadow: inset 1px -71px 300px 116px rgba(0,0,0,0.14);
        -moz-box-shadow: inset 1px -71px 300px 116px rgba(0,0,0,0.14); */
        /* box-shadow: inset 1px -71px 300px 116px rgba(0,0,0,0.14); */
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.432);
        }
        .content {
           

            background-color: whitesmoke;
            margin: 5px;
            border: 1px solid lightgrey;
            display: none;
          }
          #loadMore {
            width: 200px;
            color: #fff;
            display: block;
            text-align: center;
            margin: 20px auto;
            padding: 10px;
            border-radius: 10px;
            border: 1px solid transparent;
            background-color: blue;
            transition: .3s;
          }
          #loadMore:hover {
            color: blue;
            background-color: #fff;
            border: 1px solid blue;
            text-decoration: none;
          }
          .noContent {
            color: #000 !important;
            background-color: transparent !important;
            pointer-events: none;
          }